#categories-articles-show-container
	%h1= @article.title
	%h4 Category
	%p= @article.category.title
	%h4 Description
	%p= @article.description
	= link_to 'Edit Article', edit_category_article_path(@category, @article), class: 'btn btn-default'
	= link_to 'Delete', category_article_path(@category, @article), method: :delete, class: 'btn btn-danger'